raw_data/
data/
.ipynb_checkpoints/
.snakemake/
Snakefile_1

analysis/blood/track_data/DNAse/.ipynb_checkpoints/
analysis/blood/track_data/DNAse/Untitled.ipynb
analysis/blood/track_data/DNAse/blood_DNAse_download.py.ipynb
analysis/blood/track_data/DNAse/dnase_wig2bedTrial.sh

analysis/blood/track_data/H3k27/.ipynb_checkpoints/
analysis/blood/track_data/H3k27/H3k27_ReadME.ipynb
analysis/blood/track_data/H3k4me1/.ipynb_checkpoints/
analysis/blood/track_data/H3k4me1/H3k4me1_ReadME.ipynb
analysis/blood/track_data/H3k4me3/.ipynb_checkpoints/
analysis/blood/track_data/H3k4me3/H3k4me3_ReadME.ipynb

analysis/blood/track_data/transcription/.ipynb_checkpoints/
analysis/blood/track_data/transcription/Transcription_ReadME.ipynb

analysis/global/track_data/recombination/.ipynb_checkpoints/
analysis/global/track_data/recombination/ReadMe_Hapmap.ipynb

analysis/global/track_data/replication/.ipynb_checkpoints/

analysis_o/
data
data_o/
other/
snakefile_test.py
snakefile_test.py.ipynb

